* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
    z-index: auto;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    position: relative;
    display: flex;
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1rem 0;
    border: 1px solid lightgray;
    border-radius: 7px;
    border-color: black;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.group:nth-child(2) {
    background-image: url(/img/minilogoinsta.png), url(/img/miniLogoDio.png);
    background-size: 50px 50px, 110px 50px;
    background-repeat: no-repeat;     
    background-position: right, left;
}

.imagem-back{
    height: 7rem;
    display: flex;
    background-position: 100%;    
}

.instagram-logo {
    height: 3rem;    
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: black;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: black;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: black;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}


.app-download:nth-child(1) {
    background-image: url('./img/googleplay-button.png');
}
.app-download:nth-child(2) {
    background-image: url('./img/apple-button.png');
}

.seta  {
    position: absolute;
    padding: 5px;
    box-shadow: 1px -1px 0 0px black inset;
    transform: rotate(45deg);
    border: solid transparent;
    border-width: 0 0 2px 2px;
    height: 1px;
    margin-top: 290px;
    margin-left: -661px;
    z-index: +2;
    cursor: pointer;
}

#photo1 img{
    position: absolute;
    max-width: 450px;
    max-height: 700px;
    padding-top: 268px;
    padding-left: 90px;
    z-index: +1;
}

#photo2 img{
    position: absolute;
    max-width: 450px;
    max-height: 700px;
    padding-top: 268px;
    padding-left: 90px;
    z-index: +0;
}

#photo3 img{
    position: absolute;
    max-width: 450px;
    max-height: 700px;
    padding-top: 268px;
    padding-left: 90px;
    z-index: -0;
}

/* media queries */


@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}